{% extends "dashboard.html" %}
{% block title %}Edit{% endblock %}
{% block position %}Edit Page{% endblock%}
{%block nadpis %}{%endblock%}
{%block graph%}
{%endblock graph%}
      {% block table_action %}

      <!-- Formulář pro přidání measurementu-->
        <h2>Add Messages</h2>
        <div class="card">
          <div class="card-body">
            <div class="row g-3 align-items-center">
              <form id="add-measure-form">
                <div class="col-form-label">
                  <input type="number" id="temperature" class="form-control" placeholder="Temperature in °C">
                </div>
                <div class="col-form-label">
                  <input type="datetime" id="timestamp" class="form-control" placeholder="Timestamp">
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary">Add</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        
        <!-- Formulář pro smazání úkolu -->
        <h2>Edit Messages</h2>
        <form id="delete-measure-form">
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            <label for="deleteCount" class="col-form-label">Delete Messages</label>
          </div>
          <div class="col-auto">
            <input type="number" id="deleteCount" class="form-control" aria-describedby="MaxMessageCount">
          </div>
          <div class="col-auto">
            <span id="MaxMessageCount" class="form-text">
              Must be between 1 - {{IDC}}
            </span>
          </div>
          <div class="col-auto">
            <button id="deleteButton" type="submit" class="btn btn-danger" >Delete</button>
          </div>
        </div>
      </form>
      {% endblock table_action %}




    