{% extends "dashboard.html" %}
{% block title %}Filter{% endblock %}
{% block position %}Filter Page{% endblock%}
{%block nadpis %}{%endblock%}

{% block graph %}
{% endblock graph %}
      {%block table_action%}
      <h2>Filter Messages</h2>
      <form id="filter-measure-form">
          <div class="row g-3 align-items-center">
            <div class="col-auto">
              <label for="filterCount" class="col-form-label">Message Count</label>
            </div>
            <div class="col-auto">
              <input type="number" id="filterCount" class="form-control" aria-describedby="MaxMessageCount">
            </div>
            <div class="col-auto">
              <span id="MaxMessageCount" class="form-text">
                Must be between 1 - {{IDC}}
              </span>
            </div>
            <div class="col-auto">
              <button type="submit" id="filterButton"class="btn btn-primary">Show</button>
            </div>
          </div>
      </form>
      {% endblock table_action %}
      {% block tableBody %}
      <tbody id="measuresContainer">

      </tbody>
      {% endblock tableBody %}
