<!doctype html>
<html lang="cs">  
<head> 
  <link rel="stylesheet" type="text/css" href="/static/style.css">  
    {% block head %}
    <title>{% block title %}Dashboard{% endblock %} - Miniprojekt</title>
    {% endblock head %} 
    <!-- BOOTSTRAP https://getbootstrap.com/ -->  
    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
        crossorigin="anonymous">  
    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
        crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
 
</head>
  
<body>
<!-- navbar pro všechny ! -->    
{% block dashboard %}
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">You are at: {% block position %}Dashboard{% endblock%}</a>
      <div class="collapse navbar-collapse" id="navbarNav"> 
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
        </ul>
      </div> 
        <span class="navbar-text" id="username_nav">
        </span>
        <div class="col-auto">
          <button type="button" class="btn btn-danger"id="logout-button" style="display: none;">Log out</button>
        </div>
    </div>
  </nav>
{% endblock %}
<!--ovládací prvky navigaci dál (edit,filter), tabulka s daty-->   
{% block content %}
<div id="content">
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1>{% block nadpis %}Dashboard{% endblock nadpis %}</h1> 
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Action
          </a>
        
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/dashboard">Overview</a></li>
            <li><a class="dropdown-item" href="/dashboard/filter">Filter</a></li>
            <li><a class="dropdown-item" href="/dashboard/edit">Edit</a></li>
          </ul>
        </div>
      </div>
    </div>
    {% block graph %}
    <canvas id="temperatureChart" width="400" height="100"></canvas>
    <canvas id="humidityChart" width="400" height="100"></canvas>
    <canvas id="airqualityChart" width="400" height="100"></canvas>
    {% endblock graph %}
    {% block table_action %}
    {% endblock table_action %}
    <h2>Most recent messages</h2>
    <div class="table-responsive small">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">ID </th>
            <th scope="col">Timestamp</th>
            <th scope="col">Temperature[°C]</th>
            <th scope="col">Humidity[%]</th>
            <th scope="col">CO2 concetration[ppm]</th>
          </tr>
        </thead>
        {% block tableBody %}
        <tbody>
          
          {% for measure in measurements %}
            <tr id="measure-{{measure[0]}}">
              <td>{{measure[0]}}</td>
              <td>{{ measure[1]}}</td>
              <td>{{ measure[2]}}</td>
              <td>{{ measure[3]}}</td>
              <td>{{ measure[4]}}</td>
            </tr>
          {% endfor %}
          
        </tbody>
        {% endblock tableBody %}
      </table>
    </div>
  </div>
  </main>
  </div>
  {% endblock content%}
  
  {% block footer %}
  <div id="footer">
        &copy; Copyright 2024 by <a href="https://boulderbugle.com/my-profile-1obd3kk4">Exwar</a>. 
  </div>
  {% endblock %}  

<!--Napárování scriptů-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/script.js"></script>  
</body>  
</html>