{% extends "dashboard.html" %}
{% block title %}Register{% endblock %}
{% block position %}Register page{% endblock%}
{% block content %}
<main class="form-signin w-100 m-auto">
    <form id="register-form">
    <h1 class="h3 mb-3 fw-normal">Register now</h1>

    <div class="form-floating">
        <input type="email" class="form-control" id="email" placeholder="name@example.com">
        <label for="email">Email address</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="password" placeholder="Password">
        <label for="password">Password</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="CPassword" placeholder="Password">
        <label for="CPassword">Confirm Password</label>
    </div>
    <label id="error-label" style="color:red"></label>
    <div class="form-check text-start my-3">
        <input class="form-check-input" type="checkbox" value="gdpr" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
        I register under free will
        </label>
    </div>
    
    <button class="btn btn-primary w-100 py-2" type="submit">Register</button>
    </form>
    <p id="success-label" style="color:green"></p>
</main>
{% endblock %}